{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


{% block body %}
<img class="w-100" class="img" src="/static/img/image3.jpg" alt="" style="z-index: -1; position: absolute;">

<div class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="margin-top: 145px; ">
        <main role="main" class="inner cover">
            <div>
            <h1 class="cover-heading ">Our website page</h1>
            <p class="lead "><b>This is a website which having two functionalities app searcher and keyword finder</b></p>
            </div>
            <div>
            <h3 class="cover-heading  text-white" style="font-family: Times New Roman;">1. <a class="cover-heading  text-white" href="/app_searcher/">App Searcher</a></h3>
            <h3 class="cover-heading  text-white" style="font-family: Times New Roman;">2. <a class="cover-heading  text-white" href="/keyword_finder/">Keyword Finder</a></h3>
            </div>  
        </main>
    </div>
</div>

{% endblock body %}